*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black:#22092C;
  --maroon:#872341;
  --red:#BE3144;
  --orange:#F05941;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container{
  display: flex;
}

#root, .container{
  width: 100vw;
  height: 100vh;
}

.left{
  width: 30%;
  height: 100%;
  background-color: var(--black);
  color: #ffffff;
}

ul li{
  list-style-type: none;
}

.right{
  width: 70%;
  height: 100%;
}